<h1>Welcome to the Admin Dashboard</h1>

<div class="links-container">
<%= link_to "Invoices", admin_invoices_path %>
<%= link_to "Merchants", admin_merchants_path %>
</div>

<h2>Top Customers</h2>
<div class="table-container">
  <% @top_customers.each do |customer|%>
    <%= customer.first_name%> <%= customer.last_name %>: <%= customer.total_transactions %> transactions</p>
  <% end %>
</div>


<h2>Incomplete Invoices</h2>
<div class="invoices-container">
    <% @incomplete_invoices.each do |invoice| %>
      <div id="invoice-<%= invoice.id %>">
        <%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %><br>
        <%= invoice.formatted_date %>
      </div>
    <% end %>
  </div>
