<h1>Edit Item: <%= @item.name%></h1>

<p>Name: <%= @item.name %></p>
<p>Description: <%= @item.description %></p>
<p>Current Selling Price: <%= @item.formatted_unit_price %></p>

<%= form_with url: merchant_item_path(@merchant, @item), method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: @item.name %>
  <%= f.label :description %>
  <%= f.text_field :description, value: @item.description %>
  <%= f.label :unit_price %>
  <%= f.text_field :unit_price, value: @item.unit_price %>
  <%= f.submit "Submit" %>
<% end %>